/* CARD */
.cardOuter {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 1em;
    background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    position: relative;
    z-index: 1;
}

.cardInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: calc(1em - 10px);
    overflow: hidden;
}
